@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



body {
    margin: 0;
    background-image: url('./components/images/backgroundDog.jpg');
    font-family: 'Roboto Mono', monospace;
}