.container{
    border: none;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    flex-wrap: wrap;
    gap: 2em;
    margin: 10px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: center;
    width: 1500px;
    
}