/*.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .formContainer label {
    margin-bottom: 5px;
  }
  
  .formContainer input,
  .formContainer textarea,
  .formContainer select {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
    
  }
  
  .formContainer button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formContainer button[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .formContainer span.error {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .formContainer .checkboxContainer {
    display: flex;
    flex-direction: column;
  }
  
  .formContainer .checkboxContainer label {
    margin-bottom: 5px;
  }
  
  .formContainer .checkboxContainer input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .formContainer .checkboxContainer .temperament {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .formContainer .checkboxContainer .temperament p {
    margin-right: 5px;
  }
  
  .formContainer .temperament button {
    margin-left: 10px;
    padding: 4px 8px;
    border: none;
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .temperament-container {
    column-count: 3;
    column-gap: 20px;
  }
  
  .temperament-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .temperament-checkbox {
    margin-right: 5px;
  }*/