/* STYLES  */

.background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading{
    width: 8%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, .1);
    transform: translate(0%, 0%);
    border-top: 10px solid #fff;
    animation: load .8s infinite linear;
}

.p{
    color: #fff;
    font-weight: 600;
}

/* ANIMATION */

@keyframes load {
    0% {
        transform: translate(0%, 0%) rotate(0deg);
    }

    100% {
        transform: translate(0%, 0%) rotate(360deg);
    }
}