@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* STYLE DETAIL */

.background {
    height: 88dvh;
    width: 100%;
    background: rgba(255, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.box {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.boxImg {
    width: 40%;
    height: 100%;
    background: #FBFCFF;
    border: 1.5px solid #BDB9BD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5rem;
}

img {
    width: 90%;
    height: 90%;
    border-radius: 2.5rem;
    border: 2px solid #795C5F;
}

.boxDetail {
    height: 100%;
    width: 55%;
    background: #FBFCFF;
    border: 1.5px solid #BDB9BD;
    border-radius: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #795C5F;
}

.boxInfo{
    width: 62%;
    height: 90%;
    border-right: 5px solid #795C5F;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.boxTemps{
    width: 35%;
    height: 85%;
}

li {
    color: #795C5F;
    margin: 3% 2%;
}

.info{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.lb{
    margin: 5% 0;
    border: 2px solid #795C5F;
    width: 100%;
    padding-left: 3%;
    border-radius: 15px;
}

.boxTemps h2 {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}