@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.card{
    height: 290px;
    width: 280px;
    border: 3px solid #C0A464;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: #F2E29F;
    opacity: 0.6;
    transition: transform 0.3s ease;
}

.card:hover{
    height: 290px;
    width: 280px;
    border: 3px solid #C0A464;
    border-radius: 10px;
    font-family: 'Roboto Mono', monospace;
    background-color: #795C5F;
    opacity: 1;
    box-shadow: 3px 3px 10px black;
    font-weight: bold;
    transform: scale(1.1);
}

.imgContainer{
    border: 3px solid #C0A464;
    height: 200px;
    width: 250px;
    margin-left: 13px;
    margin-top: 10px;
}

.contentContainer{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.text{
    font-family: 'Roboto Mono', monospace;
    margin: 8px;
    color: #C0A464;
    font-size: 14px;
}

.link{
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}