@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.background{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    height: 40%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {     
    border: 3px solid #C0A464;
    border-radius: 15px;
    padding: 7px 30px;
    font-family: 'Roboto Mono', monospace;
    background: #FBFCFF;
    border: 0.5px solid #BDB9BD;
    height: 55%;
    outline: none;
}

::placeholder {
    color: #605856; 
    
}

.button {
    font-family: 'Roboto Mono', monospace;
    border-radius: 0.5rem;
    background: #FBFCFF;
    border: 0.5px solid #BDB9BD;
    cursor: pointer;
    height: 100%;
    margin: 0 5%;
}

.button:hover{
    background: #BDB9BD;
    color: #FBFCFF;
    transform: scale(1.01);
    box-shadow: 3px 3px 10px black;
}

.button:active{
    transform: scale(0.95);
}