.epigraphContainer{
    background-color: aqua;
}

.background{
    display: flex;
    flex-direction: column;
}
.boxtxt{
    width: 35%;
    height: 8dvh;
    margin: 1.5dvh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(62, 99, 113, 0.5);
}


.p{
    margin: 0 0;
    color: #fff;
    text-shadow: 3px 3px 10px black;
}

.box{
    display: flex;
    justify-content: center;
}