@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.paginate {
    width: 100%;
    height: 9dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5dvh 0;
}

.number{
    background: #FBFCFF;
    border: .5px solid #BDB9BD;
    color: #605856;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: .35%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.number:disabled{
    background: #605856;
    color: #FBFCFF;
}

.number:hover{
    background: #BDB9BD;
}

.number:disabled:hover{
    background: #605856;
}

.prev {
    background: #FBFCFF;
    border: .5px solid #BDB9BD;
    color: #605856;
    border-radius: 50%;
    height: 50%;
    aspect-ratio: 1/1;
    margin: .3%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.prev:disabled{
    background: #605856;
    color: #FBFCFF;
}

.prev:hover{
    background: #BDB9BD;
}

.prev:disabled:hover{
    background: #605856;
}
