@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.paginate{
    margin-top: 0px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .prev {
    width: 70px;  
    background:#F2E29F;  
    color: #C0A464;
    border: none;
    border-radius: 15px;
    padding: 8px 10px;
    box-shadow: 3px 3px 10px black;
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
  }
  
  .prev:hover {
    background: #795C5F;
    color: #F2E29F;
    transform: translateY(5px);
    font-family: 'Roboto Mono', monospace;
  }
    