@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');


.background{
    font-family: 'Roboto Mono', monospace;
    height: 12dvh;
    width: 100%;
    display: flex;
    background: #605856;
    align-items: center;
}

.box1{
    width: 70%;
    height: 100%;
    display: flex;
}

.box2{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxImg{
    height: 10.5dvh;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.btnContainer{
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    height: 40%;
    display: flex;
    align-items: center;
    width: 10rem;
    margin: 0 5%;
    justify-content: center;
    border-radius: 0.5rem;
    background: #FBFCFF;
    border: 0.5px solid #BDB9BD;
    color: #605856;
    font-weight: bold;
    transition: transform 0.3s ease;
    text-decoration: none;
}

.btn:hover{
    background: #BDB9BD;
    color: #FBFCFF;
    transform: scale(1.05);
    box-shadow: 3px 3px 10px black;
}

.btn:active{
    transform: scale(0.95);
}